.container-feedback-description {
    position: relative;
    display: flex;
    margin-top: 3rem;
    background-image: url(../img/contacts/feedback_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 28.7em;
    padding: 26px 36px;
    font-size: 18px;
    color: #fff;
    margin-bottom: 3rem;
}

.container-feedback {
    display: flex;
    flex-wrap: wrap;
    height: auto;
}

.feedback-titles {
    width: 100%;
    height: 10%;
}

.titles-container {}

.hr-title:nth-child(2) {
    color: #1d1d1d;
    padding-left: 1em;
}

.feedback-form-container {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

.feedback-form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.feedback-item {
    width: 100%;
    margin-bottom: 1.5rem;
    ;
}

textarea {
    resize: none;
}

#your__name {
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 1px solid #ffffff;
    width: 18.3rem;
    padding-bottom: 0.5rem;
    color: #fff;
}

#your__name::placeholder {
    color: #fff;
}

#your__email {
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 1px solid #ffffff;
    width: 18.3rem;
    padding-bottom: 0.5rem;
    color: #fff;
}

#your__email::placeholder {
    color: #fff;
}

#your__question {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #fff;
    width: 97.5%;
    height: 9em;
    color: #fff;
    padding: 1%;
    margin-bottom: 2.1rem;
}

.enter__data-feedback {
    display: flex;
    width: 100%;
    margin-bottom: 0.5rem;
    padding-top: 0.72rem;
}

.feedback-item-question {
    width: 100%;
}

.thema-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 0.5em;
}

.thema-title {
    display: flex;
    width: 80%;
    font-size: 0.65em;
    margin-bottom: 0em;
}

.thema {
    margin-left: 0.4em;
    color: #1d1d1d;
}

.question__btn {
    width: 6em;
    height: 2em;
    color: #81CF90;
    background: #FFFFFF;
    border-radius: 10px;
}

.container-description {
    position: absolute;
    right: 36px;
    bottom: 26px;
    width: 35%;
    color: #1d1d1d;
}

.feedback__description {
    padding-left: 6rem;
}

.contacts-container {}

.titles-container {
    display: flex;
    width: 100%;
}

.tel-adresses-emails {
    display: flex;
    width: 100%;
    margin-bottom: 3em;
}

.store-addresses {
    width: 50%;
}

.adresses__title {
    margin-bottom: 1em;
    color: #2DB346;
}

.all-adresses {
    width: 100%;
}

.adress__item {
    margin-bottom: 1em;
}

.telephones {
    width: 35%;
    padding-left: 2em;
}

.telephones__title {
    margin-bottom: 1em;
    color: #2DB346;
}

.tel__item {
    width: 100%;
    margin-bottom: 1em;
}

.emails {
    width: 14%;
    padding-left: 2em;
}

.emails__title {
    margin-bottom: 1em;
    color: #2DB346;
}

.email__item {
    width: 100%;
    margin-bottom: 1em;
}

/* Custom  select */

.select {
    position: relative;
    width: 20%;
    color: #81CF90;
}

.select.is-active .select__body {
    display: block;
}

.select__header {
    background-color: #fff;
    border-radius: 1em;
    cursor: pointer;
    display: flex;
    height: 18px;
    overflow: hidden;
    padding-right: 0.5em;
}

.select__current {
    position: relative;
    z-index: 1000;
    font-size: 0.7em;
    line-height: 1.2em;
    margin-right: 0.5em;
    padding-right: 0.2rem;
}

.select__icon {
    align-items: center;
    background-image: url(../img/contacts/open.svg);
    background-repeat: no-repeat;
    background-position: 0.3em 0.16em;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    text-align: center;
    width: 0.8em;
    padding-left: 0.3em;
}

.select__body {
    background-color: #fff;
    border-radius: 10px 0 10px 10px;
    display: none;
    left: -70px;
    position: absolute;
    right: 0;
    top: 70%;
    overflow: hidden;
    padding: 0 0.2rem 0 0.2rem;
}

.select__item {
    cursor: pointer;
    font-size: 0.7em;
    line-height: 24px;
    padding: 0.3rem;
    border-bottom: 0.01em solid #d6d6d6;
}

.hr-title-mob {
    display: none;
}

.select__item:hover {
    /* background-color: #f2f2f2; */
}

@media (max-width: 745px) {

    .hr-title-mob {
        display: block;
    }

    .container-feedback {
        display: block;
    }

    h2 {
        font-size: 1.169em;
    }

    .title__line {
        margin-bottom: 0;
    }

    .enter__data-feedback {
        font-size: 0.8em;
    }

    .feedback-item {
        margin-bottom: 0;
    }

    .feedback-form-container {
        width: 100%;
    }

    .container-description {
        width: 100%;
    }

    .hr-title:nth-child(2) {
        display: none;
    }

    .container-description {
        position: block;
        width: 100%;
        color: #1d1d1d;
    }

    .hr-title-mob {
        padding-left: 5.2rem;
        padding-bottom: 2rem;
    }

    .feedback__description {
        padding-left: 5.3rem;
    }

    #your__question {
        background-color: rgba(0, 0, 0, 0);
        border: 1px solid #fff;
        width: 97.5%;
        height: 3em;
        color: #fff;
        padding: 1%;
        margin-bottom: 1rem;
    }

    .changefz {
        font-size: 1.24em;
    }

    .contacts-container {
        font-size: 0.9em;
    }

    .store-addresses {
        width: 40%;
    }

    .telephones {
        width: 25%;
        padding-left: 2em;
    }

    .emails {
        width: 35%;
        padding-left: 2em;
    }

    .mobile {
        margin-top: 3.5rem;
    }

    footer {
        padding-top: 5rem;
        background-color: #6AC97C;
    }

    .color__text__white {
        color: #fff;
    }

    .mbf:last-child {
        margin-bottom: 2rem;
    }


}