* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/* ______________________ */

/* Scroll */

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #fff transparent;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0) inset;
}

::-webkit-scrollbar-thumb {
    background: #6AC97C;
    border-radius: 8px;

}

/* ______________________ */
body {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 1em;
    color: #1D1D1D;
}

header {
    justify-content: center;
}

a {
    color: #1d1d1d;
    margin-left: 5px;
}

.blue__link {
    color: #069;
}

a:first-child {
    margin-left: 0;
}

h2 {
    font-weight: 400;
    font-size: 1.5em;
    margin-bottom: 13px;
}

.animate__btn-mousover {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
}

.close__btn:active {
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.go__to-btn:active {
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.small-container {
    max-width: 981px;
    padding: 0 15px 0 15px;
    margin: 0 auto;
}

/* header */
.header__inner {
    display: flex;
    padding: 40px 0px 39px 0px;
}

.logo_header {
    width: 34px;
    height: 46px;
    margin: 0 auto;
}

.m-logo {
    position: absolute;
    left: 38%;
    display: flex;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: contain;
    width: 23.5%;
    height: 3.5em;
}

.personal__area {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-end;
    height: 18px;
}

.personal__area-text {
    display: flex;
    align-items: flex-end;
}

.personal__area-icon {
    width: 15px;
    height: 15px;
    margin-right: 9px;
}

.persarea {
    cursor: pointer;
}

.city__container {
    width: 100%;
    line-height: 1.063em;
}

.city {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    width: 100%;
    /* text-align: center; */
}

.your__city {
    width: 5.6em;
}

.current__city {
    margin-left: 0.2em;
}

.city__text {
    background-image: url(../img/city_line.svg);
    background-repeat: repeat-x;
    background-position: 50% 80%;
}

/* Menu */
.container__menu {
    display: flex;
    justify-content: left;
    height: 40px;
}

.horison-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 110px;
    height: 350px;
    position: fixed;
    margin-left: -75px;
    top: 40px;
    animation-name: show_menu;
    animation-duration: 1s;
}

.horison-nav-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 110px;
    height: 350px;
    margin-top: 10px;
}

.nav-mouse {
    margin-left: 3.67em;
}

.nav-mouse-horison {
    display: inline-block;
    margin-left: 0rem;
    margin-bottom: 1rem;
}

.nav-mouse-horison:nth-child(6) {
    width: 64%;
}

.nav-mouse-horison:nth-child(7) {
    width: 36.5%;
}

.nav-mouse-horison:nth-child(8) {
    width: 65%;
}

.container__menu-fixed {
    position: fixed;
    margin-left: -120px;
    z-index: 1010;
    top: 40px;
    animation-name: show_menu;
    animation-duration: 1s;
}


.nav-mobile {
    display: none;
}

@keyframes show_menu {
    0% {
        opacity: 0;
        top: -70px;
        ;
    }

    100% {
        opacity: 1;
        top: 40px;
    }
}

.container__nav {
    overflow: hidden;
}

.nav__mouseover {
    background-image: url(../img/city_line.svg);
    background-repeat: repeat-x;
    background-position: 50% 80%;
}

.nav__position {
    position: relative;
    left: 0%;
    opacity: 1;
    transition: left 1s linear, opacity 0.7s;
}

.nav__position-active {
    position: relative;
    left: -110%;
    opacity: 0;
    transition: left 1s linear, opacity 0.7s;
}

.menu__burger {
    margin-right: 20px;
    cursor: pointer;
}

.burger__icon {
    position: relative;
    background-color: rgba(45, 180, 70, 1);
    width: 35px;
    height: 4px;
    margin-bottom: 10px;
    transition: 0.2s ease-in 0.2s;
}

.burger__icon::before {
    position: absolute;
    left: 0;
    top: -8px;
    content: '';
    display: block;
    background-color: rgba(45, 180, 70, 1);
    width: 35px;
    height: 4px;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.burger__icon::after {
    position: absolute;
    left: 0;
    top: 8px;
    content: '';
    display: block;
    background-color: rgba(45, 180, 70, 1);
    width: 35px;
    height: 4px;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.title__menu-burger {
    color: #1D1D1D;
    font-style: normal;
    font-weight: 900;
    font-size: 13px;
    line-height: 16px;
}

.title__menu-burger-mobile {
    display: none;
}

.container__menu-mobile {
    display: none;
}

/* Active burger */
.burger__icon.burger__icon-active {
    background-color: transparent;
}

.burger__icon.burger__icon-active::before {
    transform: rotate(45deg);
    top: 0;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

.burger__icon.burger__icon-active::after {
    transform: rotate(-45deg);
    top: 0;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}


/* Slider and shops menu */

.hidden__slider__btn {
    opacity: 0;
}

.show__slider__btn {
    opacity: 1;
    transition: all 1s;
}

.container__slider {
    position: relative;
    margin-top: 0px;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 100%;
    height: 440px;
}

.slider__inner {}

.about-btn-container {
    display: flex;
    margin-top: 10px;
    position: absolute;
    justify-content: center;
    width: 100%;
}

.more-about-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 306px;
    height: 32px;
    background: rgba(86, 193, 106, 0.66);
    color: #fff;
    border-radius: 10px;
}

.more-about-btn:active {
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.07);
}

.slide {
    position: relative;
    height: 100%;
}

.slide img {
    width: 100%;
}

.shops__window {
    position: absolute;
    top: 335px;
    z-index: 1000;
    width: 310px;
    height: 200px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.shop__titles {
    display: flex;
    font-size: 18px;
    font-weight: bold;
}

.shop__title {
    margin-left: 21px;
    margin-top: 19px;
}

.shop__sale-title {
    margin-left: 124px;
    margin-top: 19px;
    color: #2DB346;
}

.shops__window-line {
    border: 1px solid #EEF0F7;
    margin-top: 20px;
    margin-bottom: 10px;
}

.current__shops-container {
    width: 306px;
    height: 132px;
}

.current__shop {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    height: 35px;
    cursor: pointer;
}

.current__sale {
    margin-left: 20px;
    font-weight: 800;
    font-size: 18px;
}

.current__shop-active {
    width: 98.6%;
    color: #fff;
    background: rgba(45, 179, 70, 0.8);
    box-shadow: inset 0px 0px 40px rgba(0, 0, 0, 0.02);

}

.street {
    font-weight: 600;
    font-size: 14px;
    margin-left: 21px;
    width: 207px;
}


/* Calendar */

#calendar-mobile {
    display: none;
}

.current__calendar {
    font-weight: bold;
    font-size: 18px;

}

.calendar__title {
    margin-top: 140px;
}

.title__line {
    margin-bottom: 50px;
}

.calendar__text {
    display: flex;
    font-size: 1.3em;
}

.calendar__green-text {
    font-weight: bold;
    margin-right: 0.3rem;
    color: #2DB346;
    margin-bottom: 16px;
}

.calendar-text {
    font-weight: bold;
    font-size: 18px;
    color: #1d1d1d;
    margin-bottom: 16px;
    margin-right: 50px;
}

.calendar__column-first {
    display: flex;
    flex-wrap: wrap;
}

.calendar__column-second {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 80px;
}

.calendar__item {
    margin-right: 3.8rem;
    cursor: default;
    margin-top: 20px;
}

.day {
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 9px;

    color: #2DB346;
}

.orange {
    color: #FFBC00;
}

.day__line {
    margin-bottom: 1em;
    width: 6.2rem;
}

.percent {
    font-family: Fjalla One;
    font-weight: normal;
    font-size: 3em;
    margin-bottom: 9px;

    color: rgba(29, 29, 29, 0.7);
}

.new__delivery {
    font-weight: bold;
    font-size: 1em;
}

/* news modal */
.news-anchor {
    width: 10px;
    height: 100px;
    position: absolute;
    top: 75rem;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
}

.newsmodal-body {
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1010;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    top: 0;
    left: 0;
}

.container__newsmodal {
    position: relative;
    width: 100%;
    padding: 1em 0 3em 0;
    box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.14);
    background-color: #fff;
}

.newsmodal__inner {
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 800px;
    height: 44.5em;
    padding: 0 13px 0 13px;
    margin: 0 auto;
    text-align: center;
}

.close__newsmodal {
    display: flex;
    width: 1.65em;
    height: 1.65em;
    margin-bottom: 15px;
}

.close__btn {
    width: 1.7em;
    height: 1.7em;
    background-image: url('../img/icons/close.svg');
    background-repeat: no-repeat;
    background-position: 0.3em 0.35em;

    background-color: #81CF90;
    border-radius: 10em;
    margin-left: 0.2px;
    margin-bottom: 0;
}

.newsmodal__img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 800px;
    height: 21.4em;
    overflow: hidden;
}

.newsmodal-img {
    width: 120%;
}

.newsmodal-title h2 {
    width: 100%;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 12px;
}

.newsmodal-text-container {
    width: 800px;
    height: 12.7em;
}

.newsmodal-text {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: left;
}

.go__to-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #81CF90;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    color: #FFFFFF;
    width: 200px;
    height: 40px;
    margin-top: 30px;
    cursor: pointer;
}

.instagram {
    color: #069;
}

/* Tab news */
.mobilenews__title-container {
    display: none;
}

.nextnews-mobile {
    display: none;
}

.prevnews-mobile {
    display: none;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.fade {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fade2 {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.news-tab {
    height: 587px;
    display: flex;
    margin-bottom: 80px;
}

.tabcontainer {
    width: 100%;
    height: 587px;
    background-blend-mode: darken;
    border-radius: 10px;
    margin-right: 1%;
    color: #1d1d1d;
}

.tabcontent {
    position: relative;
    border-radius: 10px;
}

.tabcontent img {
    position: relative;
    z-index: 10;
    width: 102.8%;
    height: 350px;
    border-radius: 10px;
    object-fit: cover;
}

.news-img {
    width: 100%;
}


.tabcontent__descr {
    padding-top: 30px;
    padding-left: 2%;
    padding-right: 2%;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    top: 314px;
    width: 98.5%;
    height: 200px;
    border: 1px solid #EEF0F7;
    border-radius: 10px;
}

.tabheader {
    margin-left: 3%;
    max-width: 20rem;
    height: 542px;
    background: #FFFFFF;
    border: 1px solid #EEF0F7;
    border-radius: 10px;
    color: #1d1d1d;
}

.tabheader__items {
    background: #FFFFFF;
    border-radius: 10px;
    color: #1d1d1d;

}

.tabheader__item {
    width: 100%;
    padding-top: 20px;
    border-bottom: 1px solid #EEF0F7;
    color: #A8A8A8;
    font-size: 12px;
    padding-bottom: 5px;
    text-align: right;
    cursor: pointer;
}

.tabheader__item:last-child {
    border-bottom: 0px solid rgba(29, 29, 29, 0.2);
}

.tabheader__item_active {
    background-color: #F7F7F7;
}

.container__news {
    margin-right: 0.4rem;
    margin-left: 0.4rem;
    margin-top: 0.4rem;
}

.news__subtitle-container {
    display: flex;
    align-items: center;
    width: 105px;
    height: 27px;
    background: #0BBBEF;
    margin-left: 2.5%;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 25px;
}

.news__subtitle-text {
    color: #fff;
    margin: 0 auto;
}

.mobilenews-title {
    display: none;
}

.mobilenews-sub {
    display: none;
}

.news__title {
    font-style: normal;
    font-weight: 800;
    font-size: 1.75em;
    margin-top: 20px;

    width: 80%;
    height: auto;
    margin-bottom: 30px;
}

.news__text {
    width: 80%;
    height: 109px;
    margin-bottom: 20px;
    overflow: hidden;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 23px;
}

.more__about {
    position: absolute;
    right: 0;
    bottom: 20px;
    font-size: 14px;
    height: 20px;
    width: 20%;
    color: #1d1d1d;
    background-color: transparent;
    text-decoration-line: none;
}

.more__about:hover {
    text-decoration-line: underline;
}

.news__block-title {
    text-align: center;
    width: 100%;
    padding-bottom: 3%;
    padding-top: 3%;
    border-bottom: 1px solid #EEF0F7;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
}

.news__block-scroll {
    height: 460px;
    overflow: hidden;
}

.news__item {
    display: flex;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-bottom: 1rem;
}

.item__cirlce {
    display: flex;
    justify-content: center;
    width: 2.7rem;
    height: 2.7rem;
    border-radius: 100rem;
    margin-right: 20px;

    background: #E30613;
}

.news-content-block {
    width: 70%;
}

.news__latter {
    margin-top: 11px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;

    color: #FFFFFF;
}

.news__content-title__date {
    display: flex;
}

.news__content-text {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* margin-left: 5em; */
}

.news__item-title {
    text-align: left;
    width: 8.9rem;
    font-style: normal;
    font-weight: bold;
    font-size: 1.1em;
    line-height: 16px;

    color: #616161;
}

.news__date {
    width: 3.07rem;
    height: 10px;
    margin-top: 4px;
    margin-left: 10px;

    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 16px;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    letter-spacing: 0.01em;

    color: #616161;
}

.news__item-text {
    text-align: left;
    font-style: normal;
    font-weight: bold;
    font-size: 1em;
    line-height: 1.3rem;

    color: #616161;
}

.news__sub {
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: bold;
    font-size: 1.2em;
    line-height: 22px;
    padding-top: 2.7%;
    border-top: 1px solid rgba(29, 29, 29, 0.2);

    color: #616161;
}


/* Projects/Partners */
.projects-body {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 55px;
    font-weight: normal;
    font-size: 1.2em;
}

.projects-article {
    width: 95%;
    margin-right: 5%;
}

.projects__title {
    font-weight: bold;
    font-size: 48px;
    color: #2DB346;
    margin-bottom: 28px;
}

.projects__subtitle {
    margin-bottom: 7.5%;
}

.projects-visual {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 95%;
    margin-left: 5%;
}

.projects-background {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    background: url(../img/project_main.jpg);
    background-blend-mode: soft-light;
    background-repeat: no-repeat;
}

.projects__visual__subtitle {
    width: 13rem;
    text-align: right;
    color: #FFFFFF;
    margin-bottom: 12px;
    margin-right: 26px;
    margin-bottom: 26px;
}

.projects__visual__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    width: 209px;
    height: 27px;
    background: rgba(168, 255, 182, 0.75);
    border-radius: 10px;
    color: #FFFFFF;
    margin-right: 26px;
    margin-bottom: 26px;
}

.partners-body {
    position: relative;
    width: 100%;
    margin-bottom: 61px;
    overflow: hidden;
}

.partner-title {
    width: 100%;
    height: 25px;
    font-size: 24px;
    text-align: center;
}

.partner__title__text {
    margin-bottom: 8px;
}

.partners {
    display: flex;
    width: 100%;
    height: 141px;
}

.prev {
    position: absolute;
    width: 22px;
    height: 140px;
    background-image: url(/img/prev_parter.svg);
    background-repeat: no-repeat;
    background-position: 8px 60px;
}

.next {
    position: absolute;
    right: 0;
    width: 22px;
    height: 140px;
    background-image: url(/img/next_partner.svg);
    background-repeat: no-repeat;
    background-position: 8px 60px;
}

.partners__item {
    margin-right: 31px;
}

/* charity */
#charitymob {
    display: none;
}

.desktop {
    margin-bottom: 134px;
}

.bg__charity {
    position: relative;
    padding-top: 57px;
    padding-bottom: 23px;
    margin: 0 auto;
    max-width: 1440px;
    margin-bottom: 134px;
    background: rgba(0, 0, 0, 0.2) url(../img/charity_slider_image/blago_1.jpg);
    background-blend-mode: soft-light;

    font-style: normal;
    font-weight: bold;
    font-size: 18px;

    color: #fff;
}

.blackbg-charity {
    position: absolute;
    align-self: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    bottom: 0;
    background-color: #000;
    opacity: 0.1;
}

.charity__titles {
    display: flex;
}

.doing__item {
    cursor: pointer;
}

.doing__title {
    margin-bottom: 24.4px;
    width: 50%;
}

.cooperation__title {
    width: 50%;
}

.container .bg__line {
    background: rgba(45, 179, 70, 0.5);
    margin-bottom: 12px;
}

.doing__small {
    display: flex;
}


.small-container .doing__small {
    display: flex;
}

.doing__item {
    width: 50%;
    padding-top: 8px;
    display: flex;
    align-items: flex-end;
}

.big__num {
    font-family: Fjalla One;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
}

.doing__text {
    max-width: 280px;
    padding-bottom: 0.55%;
    margin-left: 12px;
    margin-bottom: 7px;
    font-weight: bold;
    font-size: 0.89em;
}

.slider__dots {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 37px;
}

.slider__dot {
    height: 13px;
    width: 13px;
    margin-left: 17px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.5);

    cursor: pointer;
}

.slider__dot:first-child {
    margin-left: 0px;
}

.active__dot {
    background: #FFFFFF;
}

.cooperation__item {
    width: 50%;
    display: flex;
    align-items: flex-end;
}

.cooperation__partners-item {
    margin-bottom: 1%;
}

#cooperation__item-right {
    margin-left: 52px;
}

.cooperation__text {
    max-width: 280px;
    padding-bottom: 2%;
    margin-left: 12px;
    font-weight: bold;
    font-size: 0.89em;
}

.cooperation__text:last-child {
    margin-top: 10px;
    padding-bottom: 3px;
}

#join {
    align-self: center;
}

#join h2 {
    margin-bottom: 0;
}

#join__to {
    max-width: 100%;
    width: 100%;
}

.open__window {
    margin-left: 5%;
    height: 21px;
    margin-bottom: 1.5%;
}


/* Footer */
.footer__container {
    display: flex;
    height: 98px;
}

.first__block__footer {
    max-width: 174px;
    border-right: 1px solid #C4C4C4;
    margin-right: 28px;
}

.fbf__title {
    max-width: 152px;
    margin-bottom: 2px;

    color: #616161;
}

.shop__name {
    margin-bottom: 40px;
}

.rights {
    max-width: 175px;

    color: #616161;
}

.second__block__footer {
    border-right: 1px solid #C4C4C4;
    margin-right: 28px;
}

.mbf {
    margin-bottom: 14px;
    margin-right: 28px;
}

.third__block__footer {
    border-right: 1px solid #C4C4C4;
    margin-right: 28px;
}

.tbf__triple__block {
    display: flex;
}

.fifth__block__footer {
    display: flex;
    align-items: flex-end;
}

.footer__social {
    display: flex;
}

.social__media__icon {
    position: relative;
    margin-left: 1rem;
}

.social-link {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
}

.vk {
    margin-left: 5rem;
}


/* Reg form */
.reg {
    position: fixed;
    z-index: 1010;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    top: 0;
    left: 0;

    opacity: 0;
    visibility: hidden;
}

.reg__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.all__reg__content {
    display: flex;
    max-width: 650px;
    height: 474px;
    font-size: 13px;
    font-weight: 600;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);
}


/* left block(info) */
.reg__content-left {
    width: 324px;

    background: rgba(45, 179, 70, 0.7) url(../img/img_reg.jpg);
    background-repeat: no-repeat;
    background-blend-mode: soft-light;
    box-shadow: inset -35px 0px 15px rgba(0, 0, 0, 0.4);


    color: #fff;
}

.close__body {
    width: 1.5em;
    height: 1.5em;
    margin-left: 23px;
    margin-top: 23px;

    background-color: #69BC82;
    border-radius: 10px;
    text-align: center;

}

.close__btn-form {
    margin-top: 15px;
    margin-left: 15px;
    background-position: 0.35em 0.345em;
}

.reg__left__title {
    text-align: center;
}

.reg__left__text {
    max-width: 206px;
    margin-left: 58px;
    margin-right: 58px;
    margin-top: 72px;
}

.rl__text {
    margin-bottom: 20px;
}

.white__logo {
    margin-top: 70px;
    text-align: center;
}


/* left block(reg) */
.reg__content-right {
    margin-left: 30px;
    width: 326px;
}

.reg__enter__reg {
    width: 173px;
    height: 27px;
    display: flex;
    align-items: center;
    margin-top: 23px;
    margin-left: 103px;
    font-weight: 500;
    background: #D6D6D6;
    color: #fff;
    border-radius: 5px;
    overflow: hidden;
}

.reg__enter {
    width: 55px;
    text-align: center;

    cursor: pointer;
}

.reg__reg {
    display: flex;
    width: 118px;
    height: 27px;
    justify-content: center;
    align-items: center;
    background: #2DB346;
    border-radius: 5px;

    cursor: pointer;
}

.enter__reg-double {
    display: flex;
    margin-top: 45px;
    margin-bottom: 21px;
}

.reg__double {
    cursor: pointer;
}

.enter {
    color: #D6D6D6;
    margin-left: 2px;

    cursor: pointer;
}

.reg__item {
    border-bottom: 1px solid #D6D6D6;
    margin-bottom: 30px;
    width: 277px;
}

.reg__item:last-child {
    width: 257px;
    margin-bottom: 21px;
    display: flex;
}

.img-view {
    background-image: url(../img/icons/view.svg);
    opacity: 0.5;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.view {
    display: flex;
    width: 277px;
}

.view__img {
    width: 20px;
    height: 20px;
}

.enter__data {
    display: flex;
    margin-bottom: 13px;
}


.reg__terms {
    margin-bottom: 9px;
}

.reg__subscr {
    margin-bottom: 28px;
}

.checkbox-text {
    margin-left: 9px;
}

input[type="checkbox"] {
    display: none;
}

label.checktext {
    display: flex;
    padding-left: 0px;
}

label.checktext::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    vertical-align: middle;
    border-radius: 2px;
    border: 1px solid #2DB346;
}

input[type="checkbox"]:checked+label::before {
    content: '';
    background-size: 100%;
    background-image: url(../img/icons/checked.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: #2DB346;

}

.reg__btn {
    padding: 5px 9px;
    border-radius: 5px;
    background: #2DB346;
    color: #fff;
}

#email {
    width: 100%;
}

#login {
    width: 100%;
}

#new-password {
    width: 100%;
}

#password-enter {
    width: 100%;
}


/* enter form */
.enter__form {
    position: fixed;
    z-index: 1010;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    top: 0;
    left: 0;

    opacity: 0;
    visibility: hidden;
}

.enter__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.enter__enter {
    width: 55px;
    display: flex;
    height: 27px;
    justify-content: center;
    align-items: center;
    background: #2DB346;
    border-radius: 5px;

    cursor: pointer;

}

.enter__reg {
    display: flex;
    width: 118px;
    height: 27px;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.p__enter:last-child {
    text-align: center;
}

.reg__doungle-enter {
    color: #D6D6D6;

    cursor: pointer;
}

.enter-enter {
    color: #1d1d1d;

    cursor: pointer;
}

.view-enter {
    background-repeat: no-repeat;
}

.view-reg {
    background-repeat: no-repeat;
}

.img-view {
    background-image: url(../img/icons/view.svg);
    opacity: 0.5;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

/* Media
=============== */
@media (max-width: 990px) {

    .shops {}

    .calendar-desktop {
        position: relative;
        z-index: 0;
    }

    .container__menu-fixed {
        margin-left: -110px;
    }

}

/* Media
=============== */
@media (max-width: 1191px) {


    /* Container */
    .container {
        max-width: 1191px;
        margin: 0 auto
    }

    .small-container {
        max-width: 716px;
        padding: 0 15px 0 15px;
        height: auto;
        margin: 0 auto;
    }

    /* menu */

    .nav-mouse {
        margin-left: 14px;
    }

    .tabcontent__descr {
        width: 98%;
    }

    .news__title {
        font-size: 1.5em;
    }

    .news__text {
        width: 80%;
        font-size: 1em;
    }

    .project__item-container {
        width: 324px;
        height: 306px;
    }

    .news__subtitle-container {
        width: 17%;
    }

    .news__subtitle-text {
        font-size: 10px;
    }

    .more__about {
        width: 100%;
        text-align: right;
        right: 13px;
    }


    /* /projects */
    .project__partners-inner {
        font-size: 13px;
    }

    .projects__title {
        font-size: 28px;
    }

    .partners__title {
        font-size: 28px;
    }


    /* chrity */
    .bg__charity {
        font-size: 13px;
    }

    .doing__item {
        align-items: center;
    }

    .big__num {
        font-size: 47px;
    }

    .doing__text {
        padding-top: 15px;
        font-size: 12px;
    }

    .cooperation__item {
        font-size: 9.5px;
    }

    .cooperation__partners-item {
        display: flex;
        align-items: center;
    }

    .cooperation__text {
        font-size: 12px;
    }

    .cooperation__text:last-child {
        margin-top: 0;
    }

    #cooperation__item-right {
        margin-left: 0;
    }

    #join__to {
        padding-bottom: 0;
    }

    /*  h2 {
        font-size: 20px;
    } */


    /* footer */
    .footer__container {
        font-size: 10px;
    }

    .first__block__footer {
        margin-right: 15px;
        height: auto;
    }

    .second__block__footer {
        margin-right: 15px;
        height: 71.5px;
    }

    .third__block__footer {
        margin-right: 15px;
        height: 71.5px;
    }

    .shop__name {
        margin-bottom: 27px;
    }

    .tbf__triple__block {
        display: flex;
    }

    .f__about {
        width: 27px;
    }

    .mbf {
        margin-bottom: 10px;
        margin-right: 15px;
    }

    .mbf:last-child {
        margin-bottom: 0;
    }

    .fifth__block__footer {
        height: 71.5px;
    }

    .fbf__title {
        width: 120px;
    }

    .fbf2 {
        width: 80px;
    }

    .social-img {
        width: 20px;
    }

    .vk {
        margin-left: 0px;
    }
}

/* Mobile */
@media (max-width: 745px) {
    .container {}

    .header__inner {
        position: relative;
        z-index: 1000;
        justify-content: center;
        align-items: center;
    }

    .personal__area {
        display: none;
    }

    #shops {
        margin-top: 0rem;
    }

    .city__container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: left;
        width: 100%;
        flex-direction: column;
        /* padding-left: 15px; */

        font-style: normal;
        font-weight: 900;
        font-size: 14px;
        line-height: 17px;
    }

    .city {
        display: flex;
        flex-direction: column;
        justify-content: left;
        /* text-align: center; */
    }

    .current__city {
        width: 90px;
        margin-left: 0;
    }

    .logo_header {
        display: flex;
        justify-content: start;
    }

    .logo-href {
        margin-right: 20rem;
    }

    .m-logo {
        position: absolute;
        left: 30%;
        top: 3.2rem;
        display: flex;
        background-repeat: no-repeat;
        background-position: 50% 0;
        background-size: contain;
        width: 40%;
        height: 3.5em;
    }


    /*  Menu */

    .container__menu {
        display: none;
    }

    .nav__position-active-fixed {
        background-color: rgba(255, 255, 255, 0.6);
    }

    @keyframes show_menu {
        0% {
            opacity: 0;
            top: -70px;
            ;
        }

        100% {
            opacity: 1;
            top: 40px;
        }
    }

    .container__nav-mobile {
        position: absolute;
        z-index: 1000;
        margin-top: -3rem;
        margin-left: 88%;
        right: 0rem;
        top: 30px;
        right: 50px;
        width: 200px;
        height: 300px;
    }

    .nav-mobile {
        display: flex;
        flex-direction: row;
        position: relative;
        z-index: 1000;
        flex-wrap: wrap;
        width: 13.5rem;
        height: 30rem;
        background: rgba(86, 193, 106, 0.95);
        box-shadow: 0px 4px 20px rgba(223, 223, 223, 0.25);
        padding: 3rem;
    }

    .nav-mouse {
        color: #fff;
        display: none;
        margin-left: 0;
        margin-bottom: 0.7em;
    }

    .nav-mouse:first-child {
        margin-top: 4rem;
    }

    a {
        font-size: 16px;
        width: 100%;
        margin-left: 0;
    }

    .nav__mouseover {
        background-image: url(../img/city_line_opacity.svg);
        background-repeat: repeat-x;
        background-position: 50% 80%;
    }

    .nav__position {
        left: 40%;
        opacity: 0;
        transition: left .3s linear, opacity .5s;
        position: relative;
        z-index: 1000;
    }

    .nav__position-active {
        left: 0%;
        opacity: 1;
        transition: left .3s linear, opacity 0.9s;
        position: relative;
        z-index: 1000;
    }

    #shops {}

    #toback {}

    .container__nav {
        overflow: visible;
    }

    .container__menu {
        display: none;
        width: 0;
    }

    .menu__burger-mobile {
        position: absolute;
        z-index: 2000;
        right: 0rem;
        top: 4rem;
        width: 50px;
        height: 55px;
        margin-right: 0px;
        /* padding-left: 15px; */
        cursor: pointer;
    }

    .burger__inner-mobile {
        width: 100%;
    }

    .burger__icon-mobile {
        position: relative;
        background-color: rgba(45, 180, 70, 1);
        width: 35px;
        height: 4px;
        margin-bottom: 10px;
        transition: 0.2s ease-in 0.2s;
    }

    .burger__icon-mobile::before {
        position: absolute;
        left: 0;
        top: -8px;
        content: '';
        display: block;
        background-color: rgba(45, 180, 70, 1);
        width: 35px;
        height: 4px;
        transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
    }

    .burger__icon-mobile::after {
        position: absolute;
        left: 0;
        top: 8px;
        content: '';
        display: block;
        background-color: rgba(45, 180, 70, 1);
        width: 35px;
        height: 4px;
        transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
    }

    /* White burger */
    .burger__icon-mobile-white {
        position: relative;
        background-color: #fff;
        width: 35px;
        height: 4px;
        margin-bottom: 10px;
        transition: transform 0.2s ease-in 0.2s;
    }

    .burger__icon-mobile-white::before {
        position: absolute;
        left: 0;
        top: -8px;
        content: '';
        display: block;
        background-color: #fff;
        width: 35px;
        height: 4px;
        transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
    }

    .burger__icon-mobile-white::after {
        position: absolute;
        left: 0;
        top: 8px;
        content: '';
        display: block;
        background-color: #fff;
        width: 35px;
        height: 4px;
        transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
    }

    /* _____________ */

    .title__menu-burger-mobile {
        color: #1D1D1D;
        font-style: normal;
        font-weight: 900;
        font-size: 13px;
        line-height: 16px;
    }

    /* Active burger */
    .burger__icon-mobile.burger__icon-active {
        background-color: transparent;
    }

    .burger__icon-mobile.burger__icon-active::before {
        transform: rotate(45deg);
        top: 0;
        transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
    }

    .burger__icon-mobile.burger__icon-active::after {
        transform: rotate(-45deg);
        top: 0;
        transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
    }


    .shops__window {
        top: 218px;
        z-index: 1;
    }

    .calendar__title {
        height: 50px;
        margin-top: 40px;
    }

    .cooperation__partners-item {
        display: block;
    }

    #calendar-desktop {
        display: none;
    }

    #calendar-mobile {
        display: block;
    }

    .calendar__inner {
        width: 100%;

    }

    .calendar__column-first {
        flex-wrap: wrap;
    }

    .calendar__column-second {
        flex-wrap: wrap;
    }

    .percent {
        font-size: 29px;
    }

    .day {
        font-size: 24px;
    }

    .day__line {
        width: 54px;
    }

    .new__delivery {
        font-size: 12px;
        width: 45px;
    }

    .minus__margin {
        margin-left: 0;
    }

    .calendar__item {
        width: 25%;
    }

    .calendar__item:last-child {
        margin-right: 0px;
    }

    .correct__calendar-item {
        margin-right: 0px;
    }

    .calendar__item:nth-child(4) {
        margin-right: 0;
    }

    .calendar__item:nth-child(7) {
        margin-right: 0;
    }

    .calendar__item:nth-child(6) {
        margin-right: 0px;
    }

    .calendar__column-second .calendar__item:nth-child(6) {
        margin-right: 0px;
    }

    .calendar__column-second .calendar__item {
        margin-right: 0px;
    }

    /* news */
    .tabheader {
        position: relative;
        z-index: 1002;
        height: 12rem;
        overflow: hidden;
        margin-left: 0;
        max-width: 100%;
    }

    .news__block-title {
        display: none;
    }

    .ch-height {}

    .mobilenews__title-container {
        width: 100%;
        display: flex;
    }

    .mobilenews__sub-container {
        display: flex;
        justify-content: flex-end;
    }

    .mobilenews-title {
        display: flex;
        height: 29px;
        justify-content: center;
        align-items: center;
        background: #61B22F;
        box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.1);
        border-radius: 10px 10px 0px 0;
        font-size: 18px;
        width: 13rem;
        color: #fff;
    }

    .mobilenews-sub {
        display: block;
        position: relative;
        z-index: 1300;
        bottom: -3.7rem;
        right: 0.15rem;
        width: 255px;
        height: 35px;
        text-align: center;
        background: rgba(0, 0, 0, 0);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
        border-radius: 0px 0px 10px 10px;
        font-size: 14px;
        color: #616161;
    }

    #news__title-mobile {}

    #news__sub-mobile {
        position: relative;
        z-index: 1300;
        margin-top: 1.05rem;
    }

    #news {}

    .prev__next-container {}

    .prevnews-mobile {}

    .nextnews-mobile {}

    .prevnext {}

    .news-tab {
        width: 100%;
        flex-wrap: wrap;
        position: relative;
        height: 15rem;
    }

    .tabcontainer {
        position: relative;
        z-index: 1001;
        width: 100%;
        height: 13rem;
        margin-right: 0;
    }

    .news-img {}

    .tabcontent {
        width: 100%;
    }

    .darkbg-container {}

    .darkbg {}

    .tabcontent img {
        width: 13rem;
        height: 13rem;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    .tabcontent__descr {
        position: relative;
        top: -13.1rem;
        height: 13rem;
        padding-top: 0;
        width: 95.1%;
    }

    .news__subtitle-container {
        display: none;
    }

    .news__subtitle-text {
        display: none;
    }

    .news__title {
        padding-left: 13rem;
        font-size: 1.2em;
        margin-top: 0.7rem;
        margin-bottom: 1rem;
    }

    .news__text {
        padding-left: 13rem;
        font-size: 0.9em;
        line-height: 1rem;
    }

    .more__about {
        height: auto;
        width: auto;
        font-size: 0.9em;
        right: 8rem;
        top: 11.6rem;
    }

    .tabheader__items {
        position: relative;
        z-index: 1000;
        height: 12rem;
    }

    .news__block-scroll {
        position: relative;
        z-index: 100;
        width: 100%;
        height: 100%;
    }

    .container__news {
        width: 100%;
        padding-top: 0.4rem;
        padding-bottom: 0.4rem;
    }

    .news__item {}

    .item__cirlce {}

    .news__latter {}

    .news__content-title__date {}

    .news__item-title {}

    .news__date {
        margin-left: 5.29rem;
    }

    .news__item-text {}

    .news__sub {
        display: none;
    }

    /* partners/projects mobile */

    .projects-body {
        margin-top: 7rem;
    }

    #parproj {
        display: block;
    }

    #project__catalog {
        display: none;
    }

    .bg__partners__projects {
        padding-top: 0px;
        padding-bottom: 0px;
        margin: 0 auto;
        max-width: 100%;
        height: 900px;
        margin-bottom: 16px;
        background: rgba(45, 179, 70, 0.4) url(../img/partners_projects_bg_mobile.jpg);
        background-blend-mode: soft-light;

        font-style: normal;
        font-weight: 500;
        font-size: 18px;

        color: #fff;
    }

    .project__partners-inner {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    .projects__block {
        width: 100%;
        border-right: 0px solid #fff;
        overflow: hidden;

    }

    .projects__title {
        margin-bottom: 1rem;
        font-size: 1.4em;
        text-align: center;
        margin-top: 0px;
    }

    .projects-article {
        margin-right: 0;
        width: 50%;
    }

    .projects-background {
        width: 100%;
        height: 100%;
        background: url(../img/project_main.jpg);
        background-blend-mode: soft-light;
        background-position: -13rem 0;
        background-repeat: no-repeat;
    }

    .projects-visual {
        width: 50%;
    }

    .projects__visual__subtitle {
        width: 8rem;
    }

    .projects__visual__btn {
        font-weight: 800;
        font-size: 0.5em;
        width: 8rem;
        background: rgb(0, 194, 33, .5);
    }

    .projects__subtitle {
        display: flex;
        margin: 0 auto;
        margin-bottom: 1.5em;
        font-size: 1em;
        max-width: 64%;
        text-align: center;
    }

    .projects__text {
        font-size: 0.9em;
    }

    .bottonline__projects-mob {
        display: inline-block;
        position: absolute;
        margin-top: 8%;
        left: 0;
    }

    .topline__projects-mob {
        display: inline-block;
        margin-top: 8%;
    }

    .projects {
        width: 230px;
        margin: 0 auto;
    }

    .project__list {}

    .project__item {
        margin-bottom: 15px;
        max-width: 230px;
    }

    .project__photo {
        display: flex;
        margin-top: 13px;
        align-items: center;
    }

    .project__photo-text {
        color: #80FF8C;
        font-weight: 500;
        margin-right: 13px;
    }

    .more__projects {
        display: flex;
        justify-content: center;
        background-image: url(../img/btn_more_projects_partner.svg);
        background-repeat: no-repeat;
        max-width: 210.9px;
        height: 35px;
        margin: 0 auto;
        margin-top: 23px;
        margin-bottom: 70px;
    }

    .more__project-text {
        margin-top: 3%;
    }

    .partners__block {
        width: 100%;
        text-align: center;
    }

    .partners__block-inner {
        max-width: 414px;
        margin-left: 0;
        text-align: left;

    }

    .partners__title {
        max-width: 414px;
        font-size: 36px;
        text-align: center;
        margin-bottom: 45px;
    }

    .partners__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .cp-img {
        display: block;
        margin-right: 6px;
    }

    .partner {
        display: flex;
        width: 80%;
        margin-bottom: 16px;
    }

    .partner:last-child {
        margin-bottom: 16px;
    }

    .more__partners {
        display: flex;
        justify-content: center;
        background-image: url(../img/btn_more_projects_partner.svg);
        background-repeat: no-repeat;
        max-width: 210.9px;
        height: 34px;
        margin: 0 auto;
        margin-top: 16px;
    }

    .more__partners-text {
        margin-top: 3%;
        font-size: 14px;
    }

    /*  charity */
    #charity {
        display: none;
    }

    #charitymob {
        display: block;
    }

    .bg__charity {
        position: relative;
        padding-top: 0px;
        padding-bottom: 0px;
        margin: 0 auto;
        width: 100%;
        height: 895px;
        margin-bottom: 72px;
        background: rgba(45, 179, 70, 0.4) url(../img/charity_mobile_1.jpg);
        background-blend-mode: soft-light;

        font-style: normal;
        font-weight: bold;
        font-size: 18px;

        color: #fff;
    }

    .blackbg-charity {
        position: absolute;
        align-self: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        bottom: 0;
        background-color: #000;
        opacity: 0.1;
    }

    .charity__title {
        margin-bottom: 16px;
    }

    #di1 {
        margin-bottom: 45px;
    }

    #di3 {
        padding: 0 15px 0 15px;

    }

    #big-c {
        font-size: 128px;
    }

    #big-b {
        font-size: 100px;
    }

    .doing__title {
        padding-top: 50px;
        margin-bottom: 41px;
        width: 100%;
    }

    .cooperation__title {
        width: 100%;
        margin-bottom: 40px;
    }

    .doing__item {
        width: 100%;
        padding-top: 8px;
        display: flex;
        align-items: flex-end;
    }

    .big__num {
        font-family: Fjalla One;
        font-style: normal;
        font-weight: normal;
        font-size: 64px;
    }

    .doing__text {
        max-width: 70%;
        padding-bottom: 0.55%;
        margin-left: 12px;
        font-weight: bold;
        font-size: 16px;
    }

    .slider__dots {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 37px;
    }

    .slider__dot {
        height: 13px;
        width: 13px;
        margin-left: 17px;
        border-radius: 10px;
        background: rgba(255, 255, 255, 0.5);

        cursor: pointer;
    }

    .slider__dot:first-child {
        margin-left: 0px;
    }

    .active__dot {
        background: #FFFFFF;
    }

    .cooperation__item {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 35px;
    }

    .cooperation__partners-item {
        display: inline-block;

        margin-bottom: 0;
    }


    .cooperation__text {
        max-width: 218px;
        padding-bottom: 0%;
        margin-bottom: 14px;
        margin-left: 12px;
        font-weight: bold;
        font-size: 16px;
    }

    .cooperation__text:last-child {
        margin-top: 0;
        padding-bottom: 0;
    }

    #join {
        align-self: center;
        width: 70%;
        margin-bottom: 48px;
    }

    #join h2 {
        margin-bottom: 0;
    }

    #join__to {
        max-width: 100%;
        width: 100%;
    }

    #join__to:last-child {
        margin-bottom: 0;
    }

    .open__window {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-left: 0;
        height: auto;
        margin-bottom: 0;
    }

    /* Footer */
    .mobile {
        height: 633px;
    }

    .footer__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 16px;
        line-height: 19px;
        height: 560px;
        align-items: center;
        text-align: center;
    }

    .desktop {
        display: none;
    }

    .first__block__footer {
        width: 100%;
        height: auto;
        border-right: 0px solid #C4C4C4;
        margin-right: 0px;
        margin-bottom: 13px;
    }

    .shop__name {
        margin-bottom: 0px;
    }

    .rights {
        width: 100%;
        margin: 0 auto;
        color: #616161;
    }

    .second__block__footer {
        display: inline-block;
        border-right: 0px solid #C4C4C4;
        height: 123px;
        width: 100%;
        margin: 0 auto;
    }

    #sb__footer {
        margin-bottom: 15px;
    }

    .mbf {
        width: 100%;
        margin-bottom: 13px;
        margin-right: 0px;
    }

    .tbf__triple__block {
        display: inline-block;
    }

    .footer__social-mob {
        display: flex;
        width: 100%;
        justify-content: center;
        position: relative;
        margin-top: 60px;
    }

    a:first-child {
        margin-left: 0;
        margin-top: 0;
    }

    .social__media__icon-mob {
        position: relative;
        margin-left: 17px;
        width: 29px;
        height: 29px
    }

    .social__media__icon-mob:first-child {
        margin-left: 0px;
    }

    .si-mob {
        position: absolute;
        width: 29px;
        height: 29px;
        overflow: hidden;
    }

    .social-link-mob {
        display: flex;
        position: absolute;
        width: 29px;
        height: 29px;
        background-color: rgba(0, 0, 0, 0);
    }

    footer {
        padding-top: 5rem;
        background-color: #6AC97C;
    }

    .tel {
        color: #fff;
    }

    .color__text__white {
        color: #fff;
    }

    .mbf:last-child {
        margin-bottom: 2rem;
    }

    .newscontainer {}

}

/* small mobile 320px */

@media (max-width: 320px) {
    .shops__window {
        top: 310px;
    }
}