* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/* ______________________ */

/* Scroll */

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #fff transparent;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0) inset;
}

::-webkit-scrollbar-thumb {
    background: #6AC97C;
    border-radius: 8px;

}

/* ______________________ */

body {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #1D1D1D;
}

header {
    justify-content: center;
}

a {
    color: #1d1d1d;
    margin-left: 16.2px;
}

a:first-child {
    margin-left: 0;
}

h2 {
    font-weight: 400;
    font-size: 27px;
    margin-bottom: 13px;
}


.container {
    max-width: 1440px;
    height: auto;
    margin: 0 auto;
}

.small__container {
    max-width: 981px;
    padding: 0 15px 0 15px;
    height: auto;
    margin: 0 auto;
}


/* header */

.header__inner {
    display: flex;
    padding: 40px 0px 140px 0px;
}

.logo_header {
    margin-left: 16%;
    background-image: url(../img/logo_single.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 34px;
    height: 45px;
}

.personal__area {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    margin-left: 35.8%;
    cursor: pointer;
    height: 18px;
}

.personal__area-icon {
    width: 15px;
    height: 15px;
    margin-right: 9px;
}

.city__container {
    display: flex;
    justify-content: left;
    max-width: 1131.95px;
    flex-direction: column;


    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 17px;
}

.city {
    display: flex;
    justify-content: left;
    width: 300px;
    text-align: center;
}


.current__city {
    margin-left: 5px;
}

.city__text {
    background-image: url(../img/city_line.svg);
    background-repeat: repeat-x;
    background-position: 50% 80%;
}


/* Menu */

.container__menu {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40px;
}

.container__nav {
    overflow: hidden;
}

.nav__mouseover {
    background-image: url(../img/city_line.svg);
    background-repeat: repeat-x;
    background-position: 50% 80%;
}

.nav__position {
    position: relative;
    left: -110%;
    opacity: 0;
    transition: left 1s linear, opacity 0.7s;
}

.nav__position-active {
    position: relative;
    left: 0%;
    opacity: 1;
    transition: left 1s linear, opacity 0.7s;
}

.menu__burger {
    margin-right: 33px;
    cursor: pointer;
}


.burger__icon {
    position: relative;
    background-color: rgba(45, 180, 70, 1);
    width: 35px;
    height: 4px;
    margin-bottom: 10px;
    transition: background-color 0.2s ease-in 0.2s;
}

.burger__icon::before {
    position: absolute;
    left: 0;
    top: -8px;
    content: '';
    display: block;
    background-color: rgba(45, 180, 70, 1);
    width: 35px;
    height: 4px;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.burger__icon::after {
    position: absolute;
    left: 0;
    top: 8px;
    content: '';
    display: block;
    background-color: rgba(45, 180, 70, 1);
    width: 35px;
    height: 4px;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.title__menu-burger {
    color: #1D1D1D;
    ;
    font-style: normal;
    font-weight: 900;
    font-size: 13px;
    line-height: 16px;
}

/* Active burger */

.burger__icon.burger__icon-active {
    background-color: transparent;
}

.burger__icon.burger__icon-active::before {
    transform: rotate(45deg);
    top: 0;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

.burger__icon.burger__icon-active::after {
    transform: rotate(-45deg);
    top: 0;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

/* Slider and shops menu */

.container__slider {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.wrapper {
    max-width: 1440px;
    height: 440px;
    /* overflow: hidden; */
}

.slider__inner {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.slide {
    width: 100%;
    height: 440px;

}

.slide img {
    width: 100%;
    justify-content: center;
    align-items: center;
}


.shops__window {
    position: absolute;
    top: 461px;
    z-index: 1000;
    width: 310px;
    height: 325px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;

}

.shop__titles {
    display: flex;
    font-size: 18px;
    font-weight: bold;
}

.shop__title {
    margin-left: 21px;
    margin-top: 19px;
}

.shop__sale-title {
    margin-left: 124px;
    margin-top: 19px;
    color: #2DB346;
}

.shops__window-line {
    border: 1px solid #EEF0F7;
    margin-top: 20px;
    margin-bottom: 10px;
}

.current__shops-container {
    width: 306px;
    height: 257px;
}

.current__shop {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    height: 35px;
    cursor: pointer;
}

.current__sale {
    margin-left: 20px;
    font-weight: 800;
    font-size: 18px;
}

.current__shop-active {
    color: #fff;
    background: rgba(45, 179, 70, 0.8);
    box-shadow: inset 0px 0px 40px rgba(0, 0, 0, 0.02);

}

.street {
    font-weight: 600;
    font-size: 14px;
    margin-left: 21px;
    width: 207px;
}

/* Calendar */

.current__calendar {
    font-weight: bold;
    font-size: 18px;
    margin-left: 21px;
}

.text__column-container {
    display: flex;
}

.calendar__inner {
    width: 280px;
    height: 176px;

}

.calendar__title {
    margin-top: 180px;
}

.title__line {
    margin-bottom: 81px;
}

.calendar__text {
    max-width: 280px;
    height: 170px;
    margin-top: 20px;
}

.calendar__green-text {
    font-weight: bold;
    font-size: 18px;
    color: #2DB346;
    margin-bottom: 16px;
}

.calendar-text {
    font-weight: bold;
    font-size: 18px;
    color: #1d1d1d;
    margin-bottom: 16px;
    margin-right: 50px;
}

.calendar__column-first {
    display: flex;
}

.calendar__column-second {
    max-width: 981px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 80px;
    margin-top: 20px;
}

.calendar__column-third {
    display: flex;
    margin-bottom: 81px;
}

.calendar__item {
    margin-right: 21px;
    cursor: default;
    margin-top: 20px;
}

.minus__margin {
    margin-right: 0px;
}

.correct__calendar-item {
    margin-right: 27px;
}

.calendar__item:last-child {
    margin-right: 0;
}

.day {
    font-weight: bold;
    font-size: 48px;
    margin-bottom: 9px;

    color: #2DB346;
}

.orange {
    color: #FFBC00;
}

.day__line {
    margin-bottom: 14px;
}

.percent {
    font-family: Fjalla One;
    font-weight: normal;
    font-size: 63px;
    margin-bottom: 9px;

    color: rgba(29, 29, 29, 0.7);
}

.new__delivery {
    font-weight: bold;
    font-size: 18px;
}


/* news */

.news__bg {
    display: flex;
    max-width: 981px;
    max-height: 615px;
    background: rgba(29, 29, 29, 0.7) url(../img/news/img_1.jpg);
    background-blend-mode: darken;
    border-radius: 10px;
    margin-bottom: 81px;
    color: #fff;
}

.left__block {
    width: 42.5%;
    margin-right: 21.2%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-height: 587px;
    padding-left: 50px;
    padding-bottom: 30px;
}

.news__subtitle-container {
    display: flex;
    align-items: center;
    width: 80px;
    height: 27px;
    background: #0BBBEF;
    border-radius: 5px;
    margin-bottom: 25px;
}

.news__subtitle-text {

    margin: 0 auto;
}

.news__title {

    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    margin-right: 210px;
    margin-bottom: 20px;

    width: 415px;

}

.news__text {
    width: 397px;
    height: 109px;

    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 23px;
}

.more__about {
    width: 172px;
    height: 27px;

    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 59px;
    color: #fff;
    background-color: transparent;
}

.news__block {
    width: 40%;
    height: 587px;
    margin: 1.3% 1.3% 1.3% 0px;
    /* 239 */
    background: #FFFFFF;
    border-radius: 10px;
    color: #1d1d1d;
}

.news__block-title {
    text-align: center;
    width: 100%;
    height: 50px;
    margin-top: 7%;
    border-bottom: 1px solid rgba(29, 29, 29, 0.2);

    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
}

.news__block-scroll {
    height: 460px;
    margin: 4px 4px 0px 4px;
}

.container__news__item {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(29, 29, 29, 0.2);
}

.container__news__item-active {
    background-color: #F7F7F7;
}


.news__item {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-left: 22px;
}

.item__cirlce {
    display: flex;
    justify-content: center;
    width: 38px;
    height: 38px;
    left: 934px;
    top: 1664px;
    border-radius: 100px;
    margin-right: 20px;

    background: #E30613;
}

.news__latter {
    margin-top: 11px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;

    color: #FFFFFF;
}

.news__content {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    max-width: 163px;
    height: 67px;
}

.news__item-title {
    width: 119.98px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 5px;

    color: #616161;
}

.news__date {
    width: 43px;
    height: 10px;
    margin-top: 4px;


    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 16px;


    display: flex;
    align-items: center;
    justify-content: flex-end;
    letter-spacing: 0.01em;

    color: #616161;
}

.news__item-text {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;


    color: #616161;
}

.news__sub {
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    height: 76px;
    border-top: 1px solid rgba(29, 29, 29, 0.2);

    color: #616161;
}

/* Projects/Partners */

.bg__partners__projects {
    padding-top: 39px;
    padding-bottom: 39px;
    margin: 0 auto;
    max-width: 1440px;
    margin-bottom: 40px;
    background: rgba(45, 179, 70, 0.4) url(../img/bg_partner_project.jpg);
    background-blend-mode: soft-light;

    font-style: normal;
    font-weight: bold;
    font-size: 18px;

    color: #fff;
}

.project__partners-inner {
    display: flex;
}

.projects__block {
    width: 485px;
    border-right: 1px solid #fff;
}

.projects__title {
    font-size: 48px;
    margin-bottom: 28px;
}

.projects__subtitle {
    margin-bottom: 18px;
    max-width: 305px;
}

.projects__description {
    max-width: 249px;
    height: 70px;
    margin-bottom: 29px;
}

.project__list {
    font-size: 16px;
}

.projects {
    margin-left: 17px;
}

.project__item {
    margin-bottom: 15px;
    max-width: 230px;
}

.more__projects {
    display: flex;
    justify-content: center;
    background-image: url(../img/btn_more_projects_partner.svg);
    background-repeat: no-repeat;
    max-width: 210.9px;
    height: 34px;
}

.more__project-text {
    margin-top: 4%;
    font-size: 14px;
}

.partners__block {
    width: 500px;
    text-align: right;


}

.partners__block-inner {
    max-width: 374px;
    margin-left: 24%;
    text-align: left;

}

.partners__title {
    font-size: 48px;
    margin-bottom: 58px;
}

.partner {
    margin-bottom: 26px;
}

.partner:last-child {
    margin-bottom: 65px;
}

.more__partners {
    display: flex;
    justify-content: center;
    background-image: url(../img/btn_more_projects_partner.svg);
    background-repeat: no-repeat;
    max-width: 210.9px;
    height: 34px;
}

.more__partners-text {
    margin-top: 4%;
    font-size: 14px;
}

/* Project photos */

.photo__scrall {
    width: 100%;
    height: 518px;
    margin-bottom: 210px;
    overflow: hidden;
}

.project__catalog {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 25px 0 25px;
}

.project__item-container {
    max-width: 445px;
    height: 420px;
    border-radius: 10px;
    margin-bottom: 15px;
    margin-right: 15px;
    overflow: hidden;
}

.project__item-container:nth-child(odd) {
    max-width: 445px;
    height: 420px;
    border-radius: 10px;
    margin-bottom: 15px;
    margin-left: 15px;
    overflow: hidden;
}

.project__catalog-item {
    width: 145%;
}

/* charity */


.charity__title {}

.bg__chairty {
    padding-top: 57px;
    padding-bottom: 23px;
    margin: 0 auto;
    max-width: 1440px;
    margin-bottom: 134px;
    background: rgba(45, 179, 70, 0.4) url(../img/chairty_slider_image/blago.jpg);
    background-blend-mode: soft-light;

    font-style: normal;
    font-weight: bold;
    font-size: 18px;

    color: #fff;
}

.chairty__titles {
    display: flex;
}

.doing__title {
    margin-bottom: 24.4px;
    width: 50%;
}

.cooperation__title {
    width: 50%;
}

.bg__line {
    height: 76px;
    background: rgba(45, 179, 70, 0.5);
    margin-bottom: 12px;
}

.doing__small {
    display: flex;
}


.small__container .doing__small {
    display: flex;
}

.doing__item {
    width: 50%;
    padding-top: 8px;
    display: flex;
    align-items: flex-end;
}

.doing__item:last-child {}

.big__num {
    font-family: Fjalla One;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
}

.doing__text {
    max-width: 280px;
    padding-bottom: 0.55%;
    margin-left: 12px;
    font-weight: bold;
    font-size: 16px;
}

.slider__dots {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 37px;
}

.slider__dot {
    height: 13px;
    width: 13px;
    margin-left: 17px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.5);
}

.slider__dot:first-child {
    margin-left: 0px;
}

.active__dot {
    background: #FFFFFF;
}

.cooperation__item {
    width: 50%;
    display: flex;
    align-items: flex-end;
}

.cooperation__partners-item {
    margin-bottom: 1%;
}

#cooperation__item-right {
    margin-left: 52px;
}

.cooperation__text {
    max-width: 280px;
    padding-bottom: 2%;
    margin-left: 12px;
    font-weight: bold;
    font-size: 16px;
}

.cooperation__text:last-child {
    margin-top: 10px;
    padding-bottom: 3px;
}

#join {
    align-self: center;
}

#join h2 {
    margin-bottom: 0;
}

#join__to {
    max-width: 100%;
    width: 100%;
}

.open__window {
    margin-left: 5%;
    height: 21px;
    margin-bottom: 1.5%;
}

/* Footer */

.footer__container {
    display: flex;
    height: 98px;
    margin-bottom: 134px;
}

.first__block__footer {
    min-width: 174px;
    border-right: 1px solid #C4C4C4;
    margin-right: 28px;
}

.fbf__title {
    max-width: 152px;
    margin-bottom: 2px;

    color: #616161;
}

.shop__name {
    margin-bottom: 40px;
}

.rights {
    max-width: 175px;

    color: #616161;
}

.second__block__footer {
    border-right: 1px solid #C4C4C4;
    margin-right: 28px;
}

.mbf {
    margin-bottom: 14px;
    margin-right: 28px;
}

.f__home {}

.f__shops {}

.f__eco {}

.f_drawing {}


.third__block__footer {
    border-right: 1px solid #C4C4C4;
    margin-right: 28px;
}

.f__volunteering {}

.mbf {}

.f__charity {}

.f__news {}

.tbf__triple__block {
    display: flex;
}

.f__contacts {}

.f__about {}

.f__chavo {}

.tbf__triple__block {}

.fifth__block__footer {
    display: flex;
    align-items: flex-end;
}

.footer__social {
    display: flex;
}

.social__media__icon {
    margin-left: 17px;
}

.vk {
    margin-left: 58px;
}

.ok {}

.facebook {}

.inst {}

.youtube {}