.header__inner {
    padding-bottom: 1rem;
}

.full-screen-container {
    width: 100%;
    background-color: #81CF90;
}

.mobile {
    display: none;
}

.change__footer__text__color__white {
    color: #fff;
}

.other-pages {
    padding-top: 136px;
    padding-bottom: 136px;
    color: #fff;
}

.shop-and-map {
    width: 100%;
    height: 274px;
    margin-top: 25px;
    margin-bottom: 38px;
    display: flex;
}

.shop__photo {
    width: 50%;
    overflow: hidden;
}

.shop__photo__img {
    height: 100%;
}

.shop__map {
    width: 50%;
    height: 189px;
    margin-left: 30px;
}

.shop__map__img {
    width: 100%;
}

.gallery-container {
    width: 100%;
    position: relative;
    margin-bottom: 68px;
}

.gallery-ground {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.gallery {
    display: flex;
}

.gallery-img-container {
    width: 25%;
}

.gallery_img {}

#remove-margin-bottom {
    margin-bottom: 0;
}

.hours-reviews-container {
    line-height: 19px;
    width: 100%;
    display: flex;
    font-size: 16px;
    margin-bottom: 21px;
}

.titles-container {
    display: flex;
    flex-direction: row;
}

.hr-title {
    width: 50%;
}


.hr-title:nth-child(2) {
    text-align: right;
}



.reviews__line {
    transform: scale(-1, 1)
}

.remove__mb__line {
    margin-bottom: 38px;
}

.hr-title-mobile {
    display: none;
}

.hours-container {
    width: 30%;
    display: flex;
    flex-wrap: wrap;
}

.days-container {
    width: 30%;
}

.all__days {
    margin-bottom: 13px;
}

.all__hours {
    margin-bottom: 13px;
}

.hours {
    width: 70%;
}

.reviews-container {
    padding-left: 30px;
    width: 70%;
    height: 203px;
    overflow: hidden;
}

.reviews-scrall {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}

.review {
    display: flex;
    margin-bottom: 28px;
    width: 100%;

    flex-wrap: wrap;
}

.avatar {
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.9em;
    height: 3.9em;
    overflow: hidden;
}

.review-contant {
    display: flex;
    flex-wrap: wrap;
    width: 84%;
    margin-left: 0.8em;
}

.avatar__img {
    width: 100%;
    height: 100%;
}

.reviewer-name {
    width: 30%;
    color: #2DB346;
}

.review-rating {
    text-align: right;
    width: 48%;
}

.rating {}

.review-text {
    margin-top: 14px;
    width: 80%;
}

.bottom__line {
    margin-top: 38px;
    margin-bottom: 19px;
}

.tel-and-review-function {
    width: 100%;
    display: flex;
}

.hr-title-mobile {
    display: block;
}

.remove-in-mobile {
    display: block;
}

.tel2 {
    display: flex;
    align-items: center;
    height: 26px;
    width: 33.333%;
    margin-bottom: 81px;
}

.problem-btn-container {
    width: 33.333%;
    height: 26px;
}

.problem__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 26px;

    background: #81CF90;
    border-radius: 10px;
    color: #fff;
}

.add-review-container {
    display: flex;
    justify-content: flex-end;
    width: 33.333%;
    height: 26px;
}


.add__review {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 128px;
    height: 26px;

    background: #81CF90;
    border-radius: 10px;
    color: #fff;
}

.tns-controls {
    width: 50%;
    height: 20px;
}

.prev-next-container {
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 10;
    position: absolute;
    padding-top: 0.9em;
}

.prev__btn {
    width: 80px;
    height: 257px;
    background-image: url(../img/more_about_shop_img/prev.png);
    background-color: rgba(255, 255, 255, 0.2);
    background-repeat: no-repeat;
    background-position: 2.4em 9em;
}

.next__btn {
    margin-left: 60em;
    width: 80px;
    height: 257px;
    background-image: url(../img/more_about_shop_img/next.png);
    background-color: rgba(255, 255, 255, 0.2);
    background-repeat: no-repeat;
    background-position: 2.4em 9em;
}

.hr-title-mobile {
    display: none;
}

@media (max-width: 745px) {

    .shop-and-map {
        flex-wrap: wrap;
        margin-bottom: 25rem;
    }

    .shop__photo {
        width: 100%;
        margin-bottom: 1rem;
    }

    .shop__map {
        margin-left: 0;
        width: 100%;
    }

    .tel-and-review-function {
        margin-bottom: 8rem;
    }

    .reviews-container {
        width: 100%;
    }

    .review-contant {
        width: 80%;
    }

    .hours-reviews-container {
        flex-wrap: wrap;
    }

    .hours-container {
        width: 100%;
        margin-bottom: 4rem;
    }

    .reviews-container {
        padding-left: 0;
        margin-top: 1rem;
    }

    .tel2 {
        font-size: 1em;
        position: absolute;
        z-index: 1000;
        top: 106rem;
    }

    .bottom__line {
        display: none;
    }

    .deletemb {
        margin-bottom: 0;
    }

    .add-review-container {
        margin-left: 9rem;
    }

    .tel-and-review-function {
        margin-bottom: 6rem;
    }

    .remove-in-mobile {
        display: none;
    }

    .mobile {
        display: block;
    }


}