.description-container {
    display: flex;
    margin-top: 55px;
    margin-bottom: 55px;
}

.description-inner {}

.vacanc-descr-text-block {
    width: 50%;
}

.vacanc__title {
    font-weight: 800;
    font-size: 1em;
    margin-bottom: 3rem;
    line-height: 34px;
    color: #81CF90;
}

.vacanc__description {}

.descr-text {
    font-size: 1.3em;
    margin-bottom: 30px;
}

.descr-text:last-child {
    margin-bottom: 0px;
}

.vacanc-descr-image-block {
    width: 50%;
}

.vacanc_descr_image {
    width: 100%;
    height: 100%;
    padding: 0 3rem 0 0;
    background-image: url(../img/vacancies/vacancies_img.jpg);
    background-size: cover;
}

.vacancies-block {
    color: white;
    width: 100%;
    margin-bottom: 55px;
    font-size: 1.45em;
    font-weight: 600;
}

.vacan-item-container {
    width: 100%;
    background-color: #81CF90;
    max-height: 100px;
    overflow: hidden;
    transition: max-height 0.5s ease-in;
}

.vacancies-item {
    display: flex;
    position: relative;
    z-index: 100;
    width: 100%;
    height: 7.15rem;
    background-color: #81CF90;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0);

    cursor: pointer;
}

.vacancies-item:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 101;
}

.vac__shadow {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.vacan__name {
    width: 24%;
    padding: 0 0 0 2em;
}

.type__of__vacan {
    width: 24%;
    text-align: center;
}

.vacan__cash {
    width: 28%;
    margin-left: 4rem;
}

.vacan__city {
    width: 24%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-bottom: 1rem;
    padding: 0 2rem 0.8rem 0;
}

.location {
    margin-right: 1rem;
}

.full-vacan {
    border-top: 4px solid #fff;
    font-size: 0.7em;
    display: flex;
    line-height: 1.3rem;
    /*     margin-top: -31rem; */
    /* display: none; */
}

.vac__opened {
    max-height: 38rem;
    transition: max-height 0.5s ease-in;
    /* margin-top: 0;
    display: flex; */
}

.requirement {
    padding: 2.95rem 0.8rem 2.95rem 2.95rem;
}

.duties {
    padding: 2.95rem 1rem 2.95rem 1rem;
}

.conditions {
    padding: 2.95rem 2.95rem 2.95rem 0.8rem;
}

.requirement__title {}

.fvt {
    margin-bottom: 2rem;
}

.requirement__item {}

.fvi {
    margin-bottom: 1rem;
}

.last__duties__fvi {
    margin-bottom: 5.7rem;
}

.last__conditions__fvi {
    margin-bottom: 11.25rem;
}

.experience {
    text-decoration-line: underline;
}

.employment {
    text-decoration-line: underline;
}

.white__vacan {
    background-color: #fff;
    color: #81CF90;
    border-top: 4px solid #81CF90;
}